[Bb]uild/
*.swp
CMakeCache.txt
CMakeFiles/
Debug/
Release/
*.vcxproj
*.vcxproj.filters
*.dir/
*.sln
install/
install_manifest.txt
generated/*
!generated/*.in
cmake_install.cmake
.cache/
.vscode/
.idea/
Makefile
install*/
cmake-build-*/
src/renderer/shaders/spirv/
src/renderer/shaders/glsl/
src/renderer/shaders/dx11/
src/renderer/shaders/essl/
src/renderer/shaders/mtl/
