[submodule "3rdparty/maya-bridge"]
	path = 3rdparty/maya-bridge
	url = https://github.com/marcusnessemadland/maya-bridge.git
[submodule "3rdparty/bgfx"]
	path = 3rdparty/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "3rdparty/sdl"]
	path = 3rdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
